*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    position:fixed;
    width: 100%;
    height: 56px;
    padding: 1 rem 5%;
    background-color: #242222;
    border-bottom: 1px solid black;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100000;
    
}
.logo{
    font-size: 1.8rem;
    font-weight: 1000;
    color: rgb(219, 52, 2) ;
}
.nav-links{
    list-style: none;
    display:flex;
    gap: 20px;
}
.nav-links li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: grey;
    transition : 0.3s;
} 
.nav-links li a:hover{
    color: orange;
    text-shadow: 0 0 10px orange;

}
.botns{
    display: flex;
}
.bton{
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    background-color: rgb(251, 161, 128);
    box-shadow: 0px 0px 15px rgb(251, 161, 128);
    cursor: pointer;
    border: none;
    font-weight: 600;
    transition: 0.3s;
    
}
.bton:hover{
    background-color: orangered;
    box-shadow: 0px 0px 25px orangered;

}