html,body {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  background-color: white;
}

.cont {
  padding-left: 110px;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 1500px;
  height: 550px;
  overflow: hidden;
  border-radius: 12px;
  margin-top: 70px;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.slide.active {
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.3);
  border: 1.5px solid rgba(255, 255, 255, 0.6);
  color: #fff;
  font-size: 22px;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 6px;
  backdrop-filter: blur(4px);
  transition: 0.25s ease;
}

.arrow:hover {
  background: rgba(255, 51, 0, 0.911);
  transform: translateY(-50%) scale(1.5);
}

.left {
  left: 14px;
}

.right {
  right: 14px;
}

footer {
  background: #e8e8e8;
  width: 100%;
  padding: 40px 0;
  font-family: Poppins, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer-section h3 {
  color: red;
  font-size: 16px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.footer-section a {
  display: block;
  text-decoration: none;
  color: #444;
  font-size: 14px;
  margin: 6px 0;
}

.footer-section a:hover {
  color: black;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #333;
}

.topcards .title {
  padding-top: 25px;
  font-size: 25px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.description {
  color: rgb(255, 6, 6);
  text-align: center;
  font-weight: 400;
  line-height: 1.24;
  font-size: 25px;
}
.product-row {
  display: flex;
  gap:1.5rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; 
}

.product {
  width: 355px; /* card width */
  text-align: center;
  font-family: Poppins, sans-serif;
}

.product img {
  width: 355px;
  height: 473px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

.pname {
  margin-top: 0.6rem;
  font-weight: 600;
  font-size: 1rem;
  color: #222;
}

.pprice {
  margin-top: 0.2rem;
  font-weight: 500;
  font-size: 0.9rem;
  color: #555;
}

h1{
  background-color: red;
  text-align: center;
  height: 42px;
  padding-top: 4px;
}
